*.gem
*.rbc
ShortLink/.config
ShortLink/coverage/
ShortLink/InstalledFiles
ShortLink/pkg/
ShortLink/spec/reports/
ShortLink/spec/examples.txt
ShortLink/test/tmp/
ShortLink/test/version_tmp/
ShortLink/tmp/
.dat*
.repl_history
build/
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/
ShortLink/.yardoc/
ShortLink/_yardoc/
ShortLink/doc/
ShortLink/rdoc/
ShortLink/.bundle/
ShortLink/vendor/bundle
ShortLink/lib/bundler/man/
.rvmrc
.idea/