<!DOCTYPE html>
<html lang="en">
<head>
  <title>Short Link V2</title>
  <meta charset="UTF-8"/>
</head>
<body>
<h1 style="text-align: center;font-size: 50px;padding-bottom: 0px;margin-bottom: 0px;">Short Link</h1>
<h2 style="text-align: center;font-size: 25px;padding-bottom: 0px;margin-top: 0px;">By: Connor Slade</h2>
<div class="login-page">
  <div class="form">
    <form class="login-form" id="login" action="/response">
      <label>
        <input name="url" type="text" placeholder="Link"/>
      </label>
      <button id="loginSubmit" type="submit">Shorten Link</button>
    </form>
  </div>
</div>
</body>
</html>