<%
  o = [('a'..'z')].map(&:to_a).flatten
  r = (0...4).map { o[rand(o.length)] }.join
  url = request.GET['url']

  if request.GET['url'].include? "https://"
  elsif request.GET['url'].include? "http://"
  else
    url = "http://" + request.GET['url']
  end

  $db.execute('INSERT INTO data (code, url) VALUES (?, ?)', r, url)
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Short Link V2</title>
  <meta charset="UTF-8"/>
</head>
<body>
<h1 style="text-align: center;font-size: 50px;padding-bottom: 0px;margin-bottom: 0px;">Short Link</h1>
<h2 style="text-align: center;font-size: 25px;padding-bottom: 0px;margin-top: 0px;">By: Connor Slade</h2>
<div class="login-page">
  <div class="form" style="padding: 45px 45px 45px;">
    <p>Your ShortLink is </p>
    <a href="<%= 'http://localhost:3000/r/' + r %>"><code><%= 'http://localhost:3000/r/' + r %></code></a>
  </div>
</div>
</body>
</html>